<div class="container">
  <div class="col-md-12">
    <h1>Cadastro de médicos</h1>
    <form (ngSubmit)="onSubmit()" #medicoForm="ngForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="primeiroNome">Primeiro Nome</label>
            <input type="text" class="form-control" name="primeiroNome" id="primeiroNome" placeholder="Nome do Médico"
                   [(ngModel)]="medico.primeiroNome" required #primeiroNome="ngModel">
            <div [hidden]="primeiroNome.valid || primeiroNome.pristine" class="alert alert-danger">
              Primeiro Nome é obrigatório
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="ultimoNome">Último Nome</label>
            <input type="text" class="form-control" name="ultimoNome" id="ultimoNome" placeholder="Nome do Médico"
                   [(ngModel)]="medico.ultimoNome" required #ultimoNome="ngModel">
            <div [hidden]="ultimoNome.valid || ultimoNome.pristine" class="alert alert-danger">
              Último Nome é obrigatório
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="especialidade">Especialidade</label>
            <select class="form-control" name="especialidade" id="especialidade"
                    (change)="parseValue($event.target.value)">
              <option *ngFor="let especialidade of especialidades" [value]="especialidade">{{especialidade}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                   [(ngModel)]="medico.email" required #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              Email é obrigatório
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="ativo">Ativo</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="ativo" id="ativo"
                            [(ngModel)]="medico.ativo">Sim
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Status</label>
            <div class="radio">
              <label class="radio-inline">
                <input type="radio" name="status" id="ocupado" value="OCUPADO"
                       [(ngModel)]="medico.status"> Ocupado
              </label>
              <label class="radio-inline">
                <input type="radio" name="status" id="disponivel" value="DISPONIVEL"
                       [(ngModel)]="medico.status"> Disponivel
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="estado">Estado</label>
            <select class="form-control" name="estado" id="estado"
                    [(ngModel)]="medico.estado" required #estado="ngModel">
              <option value="DF" [selected]="true">DF</option>
            </select>
            <div [hidden]="estado.valid || estado.pristine" class="alert alert-danger">
              Estado é obrigatório
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="cidade">Cidade</label>
            <select class="form-control" name="cidade" id="cidade"
                    [(ngModel)]="medico.cidade" required #cidade="ngModel">
              <option value="Brasilia" [selected]="true">Brasilia</option>
            </select>
            <div [hidden]="cidade.valid || cidade.pristine" class="alert alert-danger">
              Cidade é obrigatório
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Salvar médico</button>
          <button type="button" (click)="medicoForm.reset(); cancel()" class="btn btn-default">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
